* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 20px;
}

#playerTitle {
    font-family:'Press Start 2P', cursive;
    font-size: 25px;
    text-align:center;
}

#player1{
    font-family: 'VT323', monospace;
    display: inline-block;
    margin: auto 20px auto 20px;
    width:200px;
    height:auto;
}

#player2{
    /*display: inline-block; if nbPlayers = 2*/
    display: none;
    margin: auto 20px auto 20px;
    width:200px;
    height:auto;
}

#player3{
    /*display: inline-block; if nbPlayers = 3*/
    display: none;
    margin: auto 20px auto 20px;
    width:200px;
    height:auto;
}

#player4{
    /*display: inline-block; if nbPlayers = 4*/
    display: none;
    margin: auto 20px auto 20px;
    width:200px;
    height:auto;
}

#startButton {
    display: block;
    margin: 3% auto auto auto;
    background-color:  #e7e17b;
    color: #374b35;
    border-radius: 4px;
}

#bigTitle {
    display: block;
    font-family:'Press Start 2P', cursive;
    font-size: 40px;
    position:absolute;
    margin-bottom: 40%;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2f403e;
    color: lavenderblush;
    font-size: 14px;  
}

.Joueur {
    color: aliceblue;
}

.hidden{
    color: aliceblue;
}

.slider {
    margin: 0;
    width: 25%;
    display: flex;
    align-items: center;
}

input[type="range"]{
    -webkit-appearance: none;
    background: linear-gradient(30deg, #e7e17b, #82c177);
    border-radius: 4px;
    width: 100%;
    height: 8px;
    outline: none;
    box-shadow: 0 0 3px rgb(108, 239, 167);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    transition: 0.2s;
}

input[type="range"]:active::-webkit-slider-thumb {
    background: #68edcb;
    box-shadow: 0 0 0 2px rgb(221, 236, 227);
}
