* {
  box-sizing: border-box;
}

.top {
  z-index: 100;
}

body {
  background-color: #1b1b1b;
  color: #ffffff;
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
.non_display {
  display: none;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.box1 {
  padding-right: 20px;
}
.icon {
  display: inline;
}
#playersInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
